<h1>Listing file_messages</h1>

<table>
  <thead>
    <tr>
      <th><%= @incoming ? "Sender":"Recipient" %></th>
      <th>File</th>
      <th>Bytes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @file_messages.each do |file_message| %>
      <tr>
        <td><%= @incoming ? file_message.sender.full_name : file_message.recipient.full_name %></td>
        <td><%= file_message.name %></td>
        <td><%= file_message.link %></td>
        <td><%= file_message.bytes %></td>
        <td><%= file_message.icon %></td>
        <td><%= file_message.thumbnailLink %></td>
        <td><%= file_message.created_at %></td>
        <td><%= file_message.new %></td>
        <!--<td><%= link_to 'Show', file_message %></td>
        <td><%= link_to 'Edit', edit_file_message_path(file_message) %></td>
        <td><%= link_to 'Destroy', file_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File message', new_file_message_path %>
