<% direction = @incoming ? "incoming" : "outcoming" %>
<h1>Listing <%= direction %> messages</h1>

<% if  @file_messages.any? %>
<table>
  <thead>
    <tr>
      <th><%= @incoming ? "Sender":"Recipient" %></th>
      <th>File</th>
      <th>Bytes</th>
      <th>Sent at</th>
    </tr>
  </thead>

  <tbody>
    <% @file_messages.each do |file_message| %>
      <tr>
        <%user = @incoming ? file_message.sender : file_message.recipient %>
        <td><%=  user.username.blank? ? user.email : user.username %></td>

        <td><%= link_to file_message.name, file_message.link %></td>
        <td><%= number_to_human_size(file_message.bytes) %></td>
        <td><%= file_message.created_at.to_formatted_s(:short) %></td>

        <td><%= button_to 'REMOVE', file_message, remote: false, method: :delete, data: {confirm: 'Are you sure?'} %></td>


      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h2>You dont have any  <%= direction %>  messages yet</h2>
<% end %>

<br>
