<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <div id="columns">
    <div id="side">

      <ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>

      </ul>
    </div>
    <div id="main">

      <% @users.each do |user| %>
          <% friends_with = user.friend_with? (current_user) %>
          <% invited = current_user.invited? (user) %>
          <% invited_by = user.invited_by? (current_user) %>

          <tr>
            <td><%= user.id %></td>
            <td><%= user.username.blank? ? user.email : user.username%></td>
            <td><%= friends_with ? "friend" : "not friend"%></td>

            <td><%= invited ? "invite send" : "invite not send"%></td>

            <td><%= invited_by ? "invite not received" : "invite received"%></td>

            <% if friends_with %>
                <td><%= button_to 'Remove from friends',  user.remove_friendship(current_user) %></td>
            <% else %>
                <td><%= button_to 'Add to friends', invite_user_path(user.id), remote: false, method: :post , data: { confirm: 'Are you sure?'}%></td>
            <% end %>

            <!--<td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', (user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>

    </div>
  </div>



  </tbody>
</table>

<br>

<%= link_to 'New User' %>
