<!DOCTYPE html>
<html>
<head>
  <title>Dropbox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="side">

      <% if (user_signed_in?)%>
          <h3> <%="Hello, #{current_user.email}"  %></h3>
          <h3> <%= button_to "Sing out",   destroy_session_path(:user), :method => :delete %></h3>
      <% else %>
          <h3> <%= button_to "Sing In",   new_session_path(:user), :method => :get   %></h3>
      <% end %>


    </div>
    <br/>

 <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
         <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
<% end %>


<%= yield %>

</div>
</body>
</html>
